apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo

resources:
  - ../../base

images:
  - name: ghcr.io/jonas-werner/kargo-argocd-lab-demo-app
    newTag: 0.1.0-dev.1


