apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-prod
  namespace: argocd
spec:
  project: default
  destination:
    name: in-cluster
    namespace: demo
  source:
    repoURL: https://github.com/jonas-werner/kargo-argocd-lab-demo-deploy.git
    targetRevision: 943368db0541b8e258a0d116d528a440f85298df
    path: apps/demo/overlays/prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ServerSideApply=true


